{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
                {% render 'icon-caret' %}
              </summary>
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                tabindex="-1"
              >
                <ul
                  class="mega-menu__list page-width{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}"
                  role="list"
                >
                  {%- for childlink in link.links -%}
                    <li>
                      <a
                        id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                        href="{{ childlink.url }}"
                        class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"
                        {% if childlink.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {{ childlink.title | escape }}
                      </a>
                      {%- if childlink.links != blank -%}
                        <ul class="list-unstyled" role="list">
                          {%- for grandchildlink in childlink.links -%}
                            <li>
                              <a
                                id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                href="{{ grandchildlink.url }}"
                                class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"
                                {% if grandchildlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </details>
          </header-menu>
        {%- else -%}
           {%  if link.url == '/pages/about-us' %}
            <header-menu class="collections-menu">
              <details id="Details-HeaderMenu-{{ forloop.index }}" open>
                <summary
                  id="HeaderMenu-{{ link.handle }}"
                  class="header__menu-item list-menu__item link focus-inset"
                >
                  <span
                    {%- if link.child_active %}
                      class="header__active-menu-item"
                    {% endif %}
                  >
                    {{- link.title | escape -}}
                  </span>

                </summary>
                <div class="collections-menu-menu">
                <ul
                  id="HeaderMenu-MenuList-{{ forloop.index }}"
                  class="header__submenu list-menu list-menu--disclosure color-{{ section.settings.menu_color_scheme }} gradient caption-large motion-reduce global-settings-popup"
                  role="list"
                  tabindex="-1"
                >
                  {%- for block in section.blocks  -%}
                    {%-  if block.type == 'collection' -%}
                      {%  assign collection =  block.settings.collection %}
                    <li
                      class="collection-list__item grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                      {% if settings.animations_reveal_on_scroll %}
                        data-cascade
                        style="--animation-order: {{ forloop.index }};"
                      {% endif %}
                    >
                      {% render 'card-collection',
                        card_collection: collection,
                        media_aspect_ratio: section.settings.image_ratio,
                        columns: 3
                      %}
                    </li>
                    {%-  endif -%}
                  {%- endfor -%}
                </ul>
                <div class="btn-view-all">
                  <a href="{{ link.url }}">VIEW ALL</a>
                </div>
                </div>
              </details>
            </header-menu>
          {%  else %}   
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
<style>
  .header {
    position: relative;
  }
  .header .collections-menu details {
    position: static;
  }
  .header .collections-menu details .collections-menu-menu {
    position: absolute;
    left: 0;
    width: 100%;
    top: 100%;
    display: none;
    background: #fff;
    padding: 0 0 20px;
  }
  .header .collections-menu:hover details .collections-menu-menu {
    display: block;
  }
  .header .collections-menu details .collections-menu-menu ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    position: static;
    box-shadow: 0 0 0;
    border: none;
  }
  .header .collections-menu details .collections-menu-menu ul li {
    width: 100%;
    max-width: none;
  }
  .header .collections-menu details .card--standard > .card__content .card__information {
    text-align: center;
  }
  .header .collections-menu details .card__heading .icon-wrap {
    display: none;
  }
  .header .btn-view-all {
    text-align: center;
  }
  .header .btn-view-all a {
    background: #000;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 10px 30px;
  }
</style>
